.div1{
    background-image: url(https://media.istockphoto.com/vectors/computer-games-seamless-background-vector-id528711245?b=1&k=6&m=528711245&s=612x612&w=0&h=zKGpDrFzAtNBAkze6CneYPH2cPtjgTIm94yJKalnpUc=);
    padding: 5% 40%;
}
body{
    text-align: center;
}
.textcustomize{
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 15px 0px;
}
iframe{
    width: 75%;
    height: 75%;
}
